* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#board {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: lavender;
  height: 500px;
  width: 500px;
}

.cell {
  border: 2px solid black;
  height: 100px;
  width: 100px;
  background-color: rgb(223, 205, 42);
  line-height: 100px;
}
/* .cell:nth-child(n + 7) {
  border-bottom: none;
}
.cell:nth-child(-n + 3) {
  border-top: none;
}
.cell:nth-child(3n) {
  border-right: none;
}
.cell:nth-child(3n-2) {
  border-left: none;
} */

#scoreboard {
  text-align: center;
}
