* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.board {
  display: grid;
  height: 400px;
  width: 400px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: light;
  padding: 25px;
  text-align: center;
  justify-content: center;
  border: 2px solid black;
}

.cell {
  border: 2px solid black;
  text-align: center;
  vertical-align: center;
  background-color: #f39237;
  line-height: 100px;
  font-size: 50px;
}

.cell:nth-child(n + 7) {
  border-bottom: none;
}
.cell:nth-child(-n + 3) {
  border-top: none;
}
.cell:nth-child(3n) {
  border-right: none;
}
.cell:nth-child(3n-2) {
  border-left: none;
}

#scoreboard {
  text-align: center;
}

body {
  background-color: #40bcd8;
}
#header {
  text-align: center;
}
#player1form {
  display: flex;
  justify-content: center;
}
#playerStatus {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  padding: 25px;
}
#gameStatus {
  display: flex;
  justify-content: center;
}
#reset {
  padding: 6px;
}
#resetScoreboard {
  padding: 6px;
}
#submit {
  padding: 3px;
}
