#header {
  text-align: center;
}
#player1form {
  display: flex;
  justify-content: center;
}
#player2form {
  display: flex;
  justify-content: center;
}
#playerStatus {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  padding: 25px;
}
#gameStatus {
  display: flex;
  justify-content: center;
}
.board {
  padding: 25px;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  text-align: center;
  justify-content: center;
}

.cell {
  border: 2px solid black;
  height: 100px;
  width: 100px;
  background-color: rgb(223, 205, 42);
  line-height: 100px;
}
.cell:nth-child(n + 7) {
  border-bottom: none;
}
.cell:nth-child(-n + 3) {
  border-top: none;
}
.cell:nth-child(3n) {
  border-right: none;
}
.cell:nth-child(3n-2) {
  border-left: none;
}

#scoreboard {
  text-align: center;
}
